html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}

.container {
    max-width: 1120px;
}
.container-fluid {
    max-width: 1120px;
}

/*-- Navgation --*/
.navbar {
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: #5A1F8D!important;
    transition: top 0.3s;
    position: fixed;
}

.navbar-dark .navbar-brand {
    font-size: 1.2rem;
    color:#CAC2FB;
}



.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color:#CAC2FB;
}

.navbar-dark .navbar-nav .aula-experimental:active {
    color:#CAC2FB;
}

/*-- Landing Page CSS--*/

  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
  @media screen and (min-width: 601px) {
    .home-text {
        font-size: 5rem;
        font-family: 'Open Sans', sans-serif!important;
    }
    .caption {
        padding-top: 15%;
        color: white;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .home-text {
        font-size: 2.0rem;
    }
    .caption {
        padding-top: 50%;
        color: white;
    }

  }

.home-school-name {
    color: #FFD001;
    font-size: 4rem;
}

.background-home {
    max-height: 500px;
    min-height: 800px;
    padding-top:10%;
    padding-bottom: 45%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background: #5A1F8D;
}

.button-send {
    margin-bottom: 30px;;
}


.btn-lg {
    border-width: medium;
    border-radius: 0;
}

.btn-lg:hover {
    background-color:#fff;
}

.row .img-thumbnail {
    width:10px;
}

.margin-quem-somos {
    padding-top: 3rem;
}

.margin-paragrafo{
    padding-top: 3rem;
}


.jumbotron {
    margin-bottom: 0;
}

.depoimento-title {
    padding-bottom: 3rem;
}

.card-posicao-img {
    object-fit: cover;
    object-position: 1 80%;
    height: 300px;
}


.background-quem-somos {
    min-height: 200px;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #FFD001;
}

.background-quem-somos h3 {
    color: white;
}

.ideal {
    color: #e9ecef;
}

.footer-color {
    background: #303B50;
    padding-bottom: 1px;
}

/*-----Modal-----*/
.form-padding {
    padding-top: 15px;
}

#ensino .container-fluid, #ensino .container-sm, #ensino .container-md, #ensino .container-lg, #ensino .container-xl {
    max-width: 1920px;
  }
  #ensino .container-fluid .ensino-box, #ensino .container-sm .ensino-box, #ensino .container-md .ensino-box, #ensino .container-lg .ensino-box, #ensino .container-xl .ensino-box {
    position: relative;
    display: block;
  }
  #ensino .container-fluid .ensino-box .ensino-box-caption, #ensino .container-sm .ensino-box .ensino-box-caption, #ensino .container-md .ensino-box .ensino-box-caption, #ensino .container-lg .ensino-box .ensino-box-caption, #ensino .container-xl .ensino-box .ensino-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(202, 194, 251, 0.7);
    transition: opacity 0.25s ease;
    text-align: center;
  }
  #ensino .container-fluid .ensino-box .ensino-box-caption .project-category, #ensino .container-sm .ensino-box .ensino-box-caption .project-category, #ensino .container-md .ensino-box .ensino-box-caption .project-category, #ensino .container-lg .ensino-box .ensino-box-caption .project-category, #ensino .container-xl .ensino-box .ensino-box-caption .project-category {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  #ensino .container-fluid .ensino-box .ensino-box-caption .project-name, #ensino .container-sm .ensino-box .ensino-box-caption .project-name, #ensino .container-md .ensino-box .ensino-box-caption .project-name, #ensino .container-lg .ensino-box .ensino-box-caption .project-name, #ensino .container-xl .ensino-box .ensino-box-caption .project-name {
    font-size: 1.2rem;
  }
  #ensino .container-fluid .ensino-box:hover .ensino-box-caption, #ensino .container-sm .ensino-box:hover .ensino-box-caption, #ensino .container-md .ensino-box:hover .ensino-box-caption, #ensino .container-lg .ensino-box:hover .ensino-box-caption, #ensino .container-xl .ensino-box:hover .ensino-box-caption {
    opacity: 1;
  }

  .val-error {
      color:red;
  }





/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/